<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <slot />
    <script>
      document.body.addEventListener('click', function() {
    // Change the cursor image on click
    const newCursorUrl = '/vita_tusek.github.io/prst3.png'; // Replace with your new cursor image URL
    document.body.style.cursor = `url('${newCursorUrl}') 16 0, auto`;
});

    </script>
  </body>
</html>
